<!DOCTYPE html>
<html>
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!--- Popper.js --->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!--- Eigenes css --->
    <link rel="stylesheet" href="{{ url_for('static', filename='main1.css') }}">

    <title>Hunde Konfigurator</title>

</head>
<body>
    <div class="container" style="position: relative; <img src{{ url_for('static', filename='start_hund.jpg') }}>; background-position: 0% 40%; width: 100%; height: 100%; background-size: cover; overflow: hidden; border-radius: 0 !Important;">
        <div class="container" >
            <h1 class="display-3 mt-5">Willkommen bei deinem persönlichen Hunde Konfigurator!</h1>
            <p>Finde jetzt deinen perfekten Hund!</p>
            <p><a class="btn btn-success btn-lg" role="button" href="{{ url_for('konfigurator') }}"> Jetzt suchen &raquo;</a></p>
        </div>
    </div>

</body>
</html>
